<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="programm.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <body style="background-color:slategray;">
  </body>
  <div class="login">
  <form action="/catalog">
  <header class="header">
    <span class="text">LOGIN</span>
    <span class="loader"></span>
  </header>
  <form class="form">
    <input class="input" type="text", placeholder="Username">
    <input class="input" type="password" placeholder="Password">
    <button class="btn" type="submit"></button>
  </form>
</div>
<button class ="resetbtn" type= "reset">Reset it
</button>

</body>
